*{
    margin: auto;
}
body{
    background-color: black;
    color: aliceblue;
}

.input{
    color: aliceblue;
}
#copy{
    color: white;
    font-size: 18px;
    margin: 10px;
}
#password-box{
    border: none;
    padding: 18px 30px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 18px;
}
.password-generator{
    margin-top: 40px;
    text-align: center;
}
#btn{
    padding: 10px 30px;
    font-size: 18px;
    background-color: rgb(225, 37, 37);
    border-radius: 10px;
    border: none;
    margin: 20px;
    margin-right: 100px;
    color: white;
}
#btn:hover{
    cursor: pointer;
}
#copy:hover{
    cursor: pointer;
}
